/********
新增
********/
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
  font-family: 'Noto Sans TC', sans-serif;
}

.row{
  margin: 0;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.group {
    background: yellow;
    width: 200px;
    height: 500px;
}

.group .subgroup {
    background: orange;
    width: 150px;
    height: 200px;
}

.fixed {
    position: fixed;
}

/* sidebar */

#bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */

#bs-docs-sidebar a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 16px;
    font-weight: 400;
}

/* nested links */

#bs-docs-sidebar.nav .nav>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 14px;
}

/* active & hover links */

#bs-docs-sidebar .nav>a.active,
#bs-docs-sidebar.nav>a.active,
#bs-docs-sidebar.nav>a:hover,
#bs-docs-sidebar.nav>a:focus {
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #563d7c;
}

/* all active links */

#bs-docs-sidebar.nav>a.active,
#bs-docs-sidebar.nav>a.active:hover,
#bs-docs-sidebar.nav>a.active:focus {
    font-weight: 700;
}

/* nested active links */

#bs-docs-sidebar.nav .nav>a.active,
#bs-docs-sidebar.nav .nav>a.active:hover,
#bs-docs-sidebar.nav .nav>a.active:focus {
    font-weight: 500;
}

/* hide inactive nested list */

/* #bs-docs-sidebar.nav .nav {
    display: none;
} */

/* show active nested list */

#bs-docs-sidebar.nav .active {
    display: block;
}

/* customize */

body {
    background-color: #FFFFFF;
    color: black;
    position: relative;
}

.footer{
  position: absolute;
  bottom: -70px;
  left: 0;
  right: 0;
  background-color: #FFF;
}

.footer hr {
  margin-top: 0
}





/* line number */
.line_number {
    background-color: #585858;
    border-right: 3px solid #95989A;
    padding-right: 7px;
    counter-reset: num -1;
    position: absolute;
    font-size: .66666667rem;
    display: block;
    box-sizing: border-box;
    color: white;
    font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    padding-left: 5em;
    box-shadow: 0 0 0 12px #585858
}

.line_number::before {
    box-sizing: inherit;
    font-size: 18px;
    position: absolute;
    right: -8px;
}

.line_number::after {
    box-sizing: inherit;
}

.line_number span {
    display: block;
    line-height: 1.2rem;
}

.line_number span::before {
    counter-increment: num;
    content: counter(num, decimal-leading-zero);
    display: inline-block;
    box-sizing: inherit;
}

.description{
  margin: 15px 0 35px;
}

.XD{
  position: relative;
  margin: 15px 0;
}
.XD::before{
  content: "";
  width: 12px;
  height: 100%;
  position: absolute;
  left: -200px;
  background: #7B8CAE;
  /* box-shadow: 0 1rem 0 #7B8CAE; */
}

.XDA{
  position: relative;
}
.XDA::before{
  content: "";
  width: 12px;
  height: 100%;
  position: absolute;
  left: -200px;
  background: #9F7BAE;
  box-shadow: 0 1rem 0 #9F7BAE;  
}