@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
/* line 3, ../sass/base.scss */
* {
  font-family: 'Noto Sans TC', sans-serif;
}

/* line 7, ../sass/base.scss */
.fixed {
  position: fixed;
}

/* line 11, ../sass/base.scss */
.row {
  margin: 0;
}

/* line 15, ../sass/base.scss */
body {
  background-color: #FFFFFF;
  color: black;
  position: relative;
}

/* line 5, ../sass/index.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 383px;
  background-color: #9A9A9A;
}

/* line 19, ../sass/index.scss */
.dropdown:hover .dropdown-menu {
  display: block;
}
/* line 27, ../sass/index.scss */
.dropdown .dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

/* line 1, ../sass/page/home.scss */
section {
  width: 100%;
  height: 500px;
}

/* line 6, ../sass/page/home.scss */
section.slide {
  background-color: #abc;
}

/* line 10, ../sass/page/home.scss */
section.news {
  background-color: #f5f5f5;
}
/* line 11, ../sass/page/home.scss */
section.news div.card {
  box-shadow: 3px 3px 9px black;
}
/* line 15, ../sass/page/home.scss */
section.news img.card-img-top {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  box-shadow: 3px 3px 9px black;
}

/* line 24, ../sass/page/home.scss */
section.lab {
  background-color: #aac;
  word-spacing: 0;
  line-height: 0;
  font-size: 0;
}
/* line 29, ../sass/page/home.scss */
section.lab .lab-cover {
  display: inline-block;
  background-color: #9dd;
  width: 700px;
  height: 100%;
  position: relative;
}
/* line 35, ../sass/page/home.scss */
section.lab .lab-cover::after {
  content: '';
  width: 200px;
  height: 100%;
  background: linear-gradient(to right, transparent, #333);
  display: block;
  position: absolute;
  right: 0;
}
/* line 45, ../sass/page/home.scss */
section.lab .lab-intro {
  display: inline-block;
  background-color: #333;
  width: calc(100% - 700px);
  height: 100%;
  vertical-align: top;
  color: aliceblue;
  padding: 50px;
}
/* line 53, ../sass/page/home.scss */
section.lab .lab-intro h4 {
  font-size: 26px;
  font-weight: 700;
  border-bottom: 1px solid #fff;
  display: block;
  margin-bottom: 15px;
}
/* line 60, ../sass/page/home.scss */
section.lab .lab-intro p {
  font-size: 16px;
  padding-left: 15px;
  line-height: 1.4;
  height: 200px;
  overflow-y: auto;
}
/* line 67, ../sass/page/home.scss */
section.lab .lab-intro div.lab-class {
  width: 100%;
  height: 120px;
  background-color: yellow;
}

/* line 75, ../sass/page/home.scss */
section.intro {
  background-color: #eac;
}

/* line 11, ../sass/page/intro.scss */
.description h4, h1 {
  position: relative;
  margin: 15px 0;
}
/* line 15, ../sass/page/intro.scss */
.description h4::before, h1::before {
  content: "";
  width: 12px;
  height: 100%;
  position: absolute;
  left: -200px;
  background: #7B8CAE;
}

/* line 21, ../sass/page/intro.scss */
.description {
  margin: 15px 0 35px;
}
/* line 24, ../sass/page/intro.scss */
.description p {
  position: relative;
}
/* line 27, ../sass/page/intro.scss */
.description p::before {
  content: "";
  width: 12px;
  height: 100%;
  position: absolute;
  left: -200px;
  background: #9F7BAE;
  box-shadow: 0 1rem 0 #9F7BAE;
}
